body {
    font-family: 'Lato', sans-serif;
    color: #747704;
    font-weight: 300;
}

.text-muted {
    color: #BCBBBB;
}

.text-thin {
    font-weight: 100;
} 

.title-super {
    font-size: 60px;
}

.title-logo {
    margin-top: 20px;
    max-width: 200px;
}

.image1 {
  width: 100%;
  outline: 1px solid black;
}

.image2 {
  max-height: 202px;
  outline: 1px solid #747704;
}

